@model Product

<div class="row">
	<div class="col-md-12">
		<div class="text-center">
			<h6 class="display-6">
				@Model.ProductName
			</h6>
			<img class="img-fluid rounded-3 my-3" src="/img/@Model.ImageUrl" alt="@Model.ImageUrl" />
			<p class="lead text-danger">@Model.Price.ToString("c")</p>
		</div>
	</div>
</div>

<div>
	<p>@Model.Price</p>
	<p>@Model.CreatedTime</p>

	<div class="btn-group">
		<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
			<i class="fa-solid fa-house"></i>
			Home
		</a>
		<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
			<i class="fa-solid fa-list"></i>
			Products
		</a>
	</div>


</div>

@section Header {
	<div>
		Header Section for Get.cshtml
	</div>
}
